html {
  background-color: rgb(32, 143, 235);
}

body {
  background-color: rgb(200, 207, 174);
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  width: 600px;
  margin: 50px auto;
  padding: 25px 150px 50px;
  border-radius: 30px;
}

h1 {
  color: red;
}

.blue {
  color: blue;
  text-decoration: underline;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li {
  text-align: center;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
  font-size: xx-large;
}
